apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: lemp-backend:latest
        imagePullPolicy: Never
        env:
        - name: DB_HOST
          value: "mysql"
        - name: DB_USER
          value: "exampleuser"
        - name: DB_PASSWORD
          value: "examplepass"
        - name: DB_NAME
          value: "exampledb"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - name: http
    port: 5000
    targetPort: 5000
